/* Reset body margin to avoid any gap */
body {
    margin: 0;
    /* background-color: orange; */
}

/* Main Navbar */
.Navbar {
    background-color: white;
    color: black;
    position: sticky;
    top: 0;
    height: 52px;
    border-bottom: 1px solid #f2f2f2;
    z-index: 5;
    margin: 0;
    padding: 0;
}

/* Nested Navbar */
.nested-navbar {
    position: sticky;
    display: flex;
    height: 70px;
    background-color: white;
    margin-top: -49px;
    padding-right: 160px;
}



.logo {
    padding: 22px;
}

.label {
    position: relative;
}

.input-style {
    position: relative;
    bottom: 20px;
    left: -6px;
    padding: 7px;
    padding-left: 30px;
    border-radius: 25px;
    border: 1px solid white;
    background: #F9F9F9;
    height: 52px;
}

.search {
    position: relative;
    opacity: 0.6;
    right: 18px;
    top: 4px;
}

.input-style input {
    background-color: transparent;
    border: 0px solid;
    position: relative;
    right: 8px;
    bottom: 1px;
    font-size: 12px;
}

.write-svg {
    position: relative;
    left: 61.3%;
    bottom: 14px;
    opacity: 0.6;
}

.write {
    position: relative;
    display: flex;
    justify-content: end;
    right: 10%;
    width: 100%;
    bottom: 39px;
    opacity: 0.8;
    font-size: 13px;
}

.notification {
    position: relative;
    left: 92%;
    opacity: 0.5;
    bottom: 60px;
}

.for-you {
    position: relative;
    left: 18%;
    top: 39px;
}

.following {
    position: relative;
    left: 20%;
    top: 39px;
}

.following p {
    font-size: 13px;
    opacity: 0.6;
    cursor: pointer;
}

.for-you p {
    font-size: 13px;
    text-decoration: underline;
    text-underline-offset: 17px;
    cursor: pointer;
}

.line {
    display: flex;
    border-bottom: 1px solid #f2f2f2;
    width: 42%;
    margin-left: 14.2%;
}

.add {
    position: relative;
    left: 16.2%;
    top: 40%;
    opacity: 0.6;
    font-weight: 100;
    cursor: pointer;
    font-size: 26px;
}

.dynamic-data {
    position: relative;
    top: 90px;
    margin-left: 200px;
    margin-bottom: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    width: 45%;
    border-bottom: 1px solid gray;
}

.name {
    font-size: 12px;
    opacity: 0.8;
    /* margin-left: 10px; */
    padding-bottom: 10px;
}

.content {
    opacity: 0.6;
    padding-top: 4px;
    margin-left: 2px;
}

.img-div {
    /* padding: 20px; */
    padding-left: 20%;
}
.other-data{
    margin-top: 20px;
    font-size: 12px;
    opacity: 0.6;
    display: flex;
    gap: 20px;
}