body {
    margin: 0;
}

.Navbar {
    background-color: white;
    color: black;
    position: sticky;
    top: 0;
    z-index: 2;
    height: 52px;
    border-bottom: 1px solid #f2f2f2;
    margin: 0;
    padding: 0;
}

.nested-navbar {
    /* position: sticky; */
    display: flex;
    /* top: 0; */
    height: 70px;
    background-color: white;
    padding-right: 160px;
}


.logo {
    padding: 22px;
}


.input-style {
    position: relative;
    bottom: 20px;
    left: -6px;
    padding: 7px;
    padding-left: 30px;
    border-radius: 25px;
    border: 1px solid white;
    background: #F9F9F9;
    height: 52px;
}

.search {
    position: relative;
    opacity: 0.6;
    right: 18px;
    top: 4px;
}

.input-style input {
    background-color: transparent;
    border: 0px solid;
    position: relative;
    right: 8px;
    bottom: 1px;
    font-size: 12px;
}

.write-svg {
    position: relative;
    left: 61.3%;
    bottom: 14px;
    opacity: 0.6;
}

.write {
    position: relative;
    display: flex;
    justify-content: end;
    right: 10%;
    width: 100%;
    bottom: 39px;
    opacity: 0.8;
    font-size: 13px;
}

.notification {
    position: relative;
    left: 92%;
    opacity: 0.5;
    bottom: 60px;
}

.for-you {
    position: relative;
    left: 18%;
    top: 39px;
}

.following {
    position: relative;
    left: 20%;
    top: 39px;
}

.following p {
    font-size: 13px;
    opacity: 0.6;
    cursor: pointer;
}

.for-you p {
    font-size: 13px;
    text-decoration: underline;
    text-underline-offset: 17px;
    cursor: pointer;
}

.line {
    display: flex;
    border-bottom: 1px solid #f2f2f2;
    width: 42%;
    margin-left: 14.2%;
}

.add {
    position: relative;
    left: 16.2%;
    top: 40%;
    opacity: 0.6;
    font-weight: 100;
    cursor: pointer;
    font-size: 26px;
}

.dynamic-data {
    position: relative;
    top: 10px;
    height: 210px;
    margin-left: 200px;
    margin-bottom: 10px;
    padding-top: 30px;
    display: flex;
    border-bottom: 1px solid #f2f2f2;
    width: 43%;
    cursor: pointer;
}

.text-content {
    width: 80%;
}

.title {
    font-size: 22px;
}

.name {
    font-size: 12px;
    opacity: 0.8;
    padding-bottom: 10px;
}

.content {
    opacity: 0.6;
    padding-top: 10px;
    margin-left: 2px;
    font-size: 14px;
}

.img-div {
    padding-top: 30px;
    padding-left: 10%;
}

.img-div img {
    width: 140px;
}

.other-data {
    margin-top: 20px;
    font-size: 12px;
    opacity: 0.6;
    display: flex;
    gap: 20px;
}

.links {
    color: black;
    text-decoration: none;
}

.blogs-data {
    padding: 40px 350px 0px 350px;
}

.blogs-title {
    color: rgb(25, 25, 25);
    font-weight: 800;
    font-size: 36px;
    padding-bottom: 40px;
}

.blogs-image {
    width: 100%;
    height: 100%;
}

.blogs-description {
    padding: 20px 0px;
    font-size: 22px
}