.Navbar {
    background-color: white;
    color: black;
    position: sticky;
    height: 52px;
    border: 1px solid #f2f2f2;
}


.logo {
    padding: 22px;
}

.label {
    position: relative;
}

.input-style {
    position: relative;
    bottom: 20px;
    left: -6px;
    padding: 7px;
    padding-left: 30px;
    border-radius: 25px;
    border: 1px solid white;
    background: #F9F9F9;
    height: 52px;
}

.search {
    position: relative;
    opacity: 0.6;
    right: 18px;
    top: 4px;
}

.input-style input {
    background-color: transparent;
    border: 0px solid;
    position: relative;
    right: 8px;
    bottom: 1px;
    font-size: 12px;
}

.write-svg {
    position: relative;
    left: 61.3%;
    bottom: 14px;
    opacity: 0.6;
}

.write {
    position: relative;
    display: flex;
    justify-content: end;
    right: 10%;
    width: 100%;
    bottom: 39px;
    opacity: 0.8;
    font-size: 13px;
}

.notification {
    position: relative;
    left: 92%;
    opacity: 0.5;
    bottom: 60px;
}

.nested-navbar {
    position: fixed;
    left: 14.4%;
    border-bottom: 1px solid #f2f2f2;
    height: 20px;
    width: 620px;
    margin: 0 auto;
    
}

.for-you {
    position: inherit;
    left: 17.1%;
    top: 89px;
}

.following {
    position: inherit;
    left: 22%;
    top: 89px;
}

.following p {
    font-size: 13px;
    opacity: 0.8;
    cursor: pointer;
}

.for-you p {
    font-size: 13px;
    text-decoration: underline;
    text-underline-offset: 17px;
    cursor: pointer;
}

.add {
    position: inherit;
    top: 77px;
    opacity: 0.6;
    font-weight: 100;
    cursor: pointer;
    font-size: 26px;
}
.dynamic-data{
    padding: 40px;
}